body {
    margin: 0;
}
/* <!-- button block -->*/
.but {
    font-family: Arial;
    width: 100%;
    height: 50px;
    color: white;
    font-weight: bolder;
    background-color: #0275d8;
    border: 0;
    font-size: 13px;
}
/* <!-- navbar -->*/
.navbar {
    margin-bottom: 0;
}
.navbar-header a, .navbar-right li a {
    color: #563d7c !important;
    font-family: Arial;
    font-size: 16px;
}
.nav > li > a {
    font-weight: 500;
    color: #563d7c !important;
    font-size:14px;
}
 .container-fluid>.navbar-collapse, 
 .container-fluid>.navbar-header, 
 .container>.navbar-collapse,
 .container>.navbar-header {
    margin-right: 0;
    margin-left: 35px;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-header a:first-child {
    font-size: 16px;
}
/* <!-- section one about bootstrap -->*/
.b {
    text-align: center;
    height:auto;
    width: 100%;
    background-color: #6f5499;
    padding-bottom:70px;
}
.navbar-default
{
    background:white ;
}
/* <!-- section one about bootstrap -->*/
.B {
    border: 1px solid white;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    margin:80px auto 0px auto;
 }
.b p {
        font-family: Arial;
        font-size: 30px;
        color: white;
        width: 90%;
        margin: auto;
        padding: 3%;
}

.B span {
        position: relative;
        bottom: 3%;
        font-family: Helvetica Neue, Arial, sans-serif;
        font-size: 120px;
        color: white;
}
.b button {
        background: none;
        background: #6f5499;
        border: 1px solid white;
        height: 57px;
        width: 230px;
        color: white;
        font-family: Arial;
        font-size: 19px;
        border-radius: 5px;
        margin-bottom: 2%;
}
.b label {
        color: white;
        opacity: 0.3;
        font-family: MS UI Gothic;
        font-size: 14px;
        margin-bottom: 2%;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}

.b .cover {
        display: flex;
        border: 1px solid #866ab3;
        width:320px;
        height: 150px;
        margin: auto;
        border-radius:2%;
}
.col-lg-6, .col-xs-6 {
     padding-right: 0px; 
     padding-left: 0px; 
}
.cover .img1 {
    height: 70%;
    width: 100%;
}
 .cover .img1 img{
        width:160px;
        height:135px;
        margin:5px 0px 5px 0px;
    }
.cover p1
    {
        width:170%;
        height:auto;
    }
.cover .p1 p {
        font-family: Arial;
        font-size: 12px;
        color: white;
    height:auto;
    margin:25px 0px 0px 0px;
    padding:0 !important;

    }
.b .p1 span {
    font-family: Arial;
    font-size: 12px;
    color: gainsboro;
    padding-top: 10px 0px 0px 10px;
 
}
/*<!-- section two about header -->*/
.cont
{
    padding-right: 21px;
    padding-left: 41px;
    margin-right: auto;
    margin-left: auto;
}
.header .title h1 {
    text-align: center;
    font-family: Arial;
    font-size: 29px;
    padding-top: 7%;
}
.header .title p {
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    color: #555555;
    width: 78%;
    margin: auto;
}

.header hr ,.center hr{
    width: 10%;
    margin-top: 30px;
}

.header .size img {
    padding-top: 20px;
    width: 320px;
    height: 130px;
    padding:0;
    margin:0;
}
.header .size div {
    text-align: center;
    font-family: Arial;
    font-size: 15.6px;
    margin-bottom: 40px;
    padding: 0;
    margin: 0;
}

.header .view {
    text-align: center;
    font-family: Arial;
}

    .header .view p {
        font-size: 25px;
        margin: 2%;
    }

    .header .view button {
        font-size: 15px;
        color: #563d7c;
        background-color: transparent;
        border: 0;
        border: 1px solid #563d7c;
        border-radius: 10px;
        width: 250px;
        height: 50px;
        margin-bottom: 5%;
    }
.hide-boder
{
    visibility:hidden;
    width:100%;
}
.b hr{
    visibility: hidden;

}
@media (max-width:767px) {
    .header .title p {
        text-align: center;
        font-family: Arial;
        font-size: 12px;
        color: #555555;
        margin: auto;
    }

    .b .cover {
        border: none;
        border-radius: 0;
        text-align: left;
    }

    .container {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .col-lg-12, .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
    }

    .b {
        background-color: #6f5499;
        text-align: center;
        height: auto;
        width: 100%;
        padding-bottom: 0px;
    }

        .b hr {
            visibility: visible;
            width: 100%;
            /* margin-top: 20px; */
            /* margin-bottom: 20px; */
            border: 0;
            border-top: 1px solid #866ab3;
        }
        .b .cover {
            display: flex;
            width: 100%; 
            height: 150px;
            margin: auto;
            border-radius: 2%;
        }
    .cover .img1
    {
        text-align:left;
        width:50%;
    }
     .cover .img1 img
     {
margin:0px 0px 0px 10px;
     }
    .cover .p1 {
 
    }
    .footer {
     
        text-align:center;
    }
        .footer ul {
            margin: 0px;
        }
      
        .footer div p {
            color: #99979c;
            margin: 0;
           padding-left: 0px !important; 
        }
}
   
/*  <!-- section about  Bootstrap theames -->*/
.center {
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    margin-top: 7%;
}

    .center p {
        width: 80%;
        margin: auto;
        font-size: 20px;
        margin-bottom: 15px;
    }

    .center button {
        font-size: 15px;
        color: #563d7c;
        background-color: transparent;
        border: 1px solid #563d7c;
        border-radius: 10px;
        width: 160px;
        height: 40px;
        margin-bottom: 2%;
        font-weight:500;
    }
.center img
{
    width:90%;
    margin-bottom:8%;
}
.changeImg img
{
    width:350px;
    margin-bottom:0;
}
/*  <!-- section about footer -->*/
.footer {
    background: #2a2730;
    width: 100%;
    height: 170px;
    margin-top:5%;
    font-family:Arial;
    font-size:13px;
}
    .footer ul
    {
        margin:0px 0px 0px 32px;
    }
    .footer ul li {
        display: inline-block;
        text-decoration: none;
        padding-top: 50px;
        padding-right: 15px;
        padding-bottom: 20px;

    }
    .footer ul li a
    {
        color:white;
        position:relative;
        right:20px;
       
        
    }
.footer div p
{
    color:#99979c;
    margin:0;
    padding-left:52px;

}
.footer div p span
{
  color:white;
}
